# Notebook 3: Operaciones de Administración de Base de Datos relacional

En el ciclo de vida de una base de datos relacional, a menudo el administrador de la BD tiene que realizar ciertas operaciones de mantención. Mencionamos en particular:

1- Realizar una copia de seguridad de los datos

2- Crear usuarios y definir permisos de acceso a la BD

3- Modificar la estructura de la BD

4- Agregar restricciones o reglas de integridad sobre la estructura de los datos

## Ejercicio 1: Crear una BD de prueba básica

Para realizar los ejercicios siguientes, primero vamos a crear una BD de prueba básica, llamada "Valdivia". Esta base de datos está constituida por 3 tablas:

- PERSONA(pk_RUT, Nombre, Edad)   (ej.: "1, Juan, 20")

- LUGAR_DE_INTERES(pk_Lugar, Descripcion, Categoria, Latitud, Longitud)  (ej.; "1, Mercado Fluvial, Turismo, -39.81, -73.24")

- DESPLAZARSE(#pk_RUT, fecha, Latitud, Longitud)  (ej. "1, 30/09/2018 12:00:00, -39, -70")

1) Implementar la estructura de esta base de datos en MySQL indicando las claves primarias y foraneas y los tipos de datos

2) Insertar al menos 5 filas en cada tabla

3) ¿A qué tipo de aplicación podría servir esta base de datos?

In [ ]:
#1
CREATE TABLE PERSONA (pk_RUT INT, nombre VARCHAR(30), edad INT, PRIMARY KEY (pk_RUT));
CREATE TABLE LUGAR_DE_INTERES(pk_Lugar INT, Descripcion VARCHAR(50), Categoria VARCHAR(30), Latitud FLOAT, Longitud FLOAT, PRIMARY KEY (pk_Lugar));
alter table LUGAR_DE_INTERES modify Latitud Float not null;
alter table LUGAR_DE_INTERES modify Longitud Float not null;
CREATE TABLE DESPLAZARSE(pk_RUT INT, fecha DATETIME(6), Latitud FLOAT, Longitud FLOAT, FOREIGN KEY (pk_RUT) REFERENCES PERSONA(pk_RUT));

In [ ]:
#2
INSERT INTO PERSONA(pk_RUT,nombre,edad) VALUES (1,"JUAN",20);
INSERT INTO PERSONA(pk_RUT,nombre,edad) VALUES (2,"MANUEL",23);
INSERT INTO PERSONA(pk_RUT,nombre,edad) VALUES (3,"PATO",22);
INSERT INTO PERSONA(pk_RUT,nombre,edad) VALUES (4,"NICOLAS",22);
INSERT INTO PERSONA(pk_RUT,nombre,edad) VALUES (5,"VIEJO",40);

INSERT INTO LUGAR_DE_INTERES(pk_Lugar, Descripcion, Categoria, Latitud, Longitud) VALUES (1,"Mercado Fluvial","Turismo",-39.81,-73.24);
INSERT INTO LUGAR_DE_INTERES(pk_Lugar, Descripcion, Categoria, Latitud, Longitud) VALUES (2,"Cancha Futbol","Deportiva",-49.81,-83.24);
INSERT INTO LUGAR_DE_INTERES(pk_Lugar, Descripcion, Categoria, Latitud, Longitud) VALUES (3,"Universidad","EDUCACION",-549.81,183.24);
INSERT INTO LUGAR_DE_INTERES(pk_Lugar, Descripcion, Categoria, Latitud, Longitud) VALUES (4,"Costanera","Turismo",-59.81,183.24);
INSERT INTO LUGAR_DE_INTERES(pk_Lugar, Descripcion, Categoria, Latitud, Longitud) VALUES (5,"Ricos helados","Turismo",-519.81,182.24);

INSERT INTO DESPLAZARSE(pk_RUT, fecha, Latitud, Longitud) VALUES (1,'2018-09-30 12:00:00',-39,-70);
INSERT INTO DESPLAZARSE(pk_RUT, fecha, Latitud, Longitud) VALUES (2,'2018-09-30 12:20:00',-49,-70);
INSERT INTO DESPLAZARSE(pk_RUT, fecha, Latitud, Longitud) VALUES (3,'2018-09-30 12:30:00',-339,-70);
INSERT INTO DESPLAZARSE(pk_RUT, fecha, Latitud, Longitud) VALUES (4,'2018-09-30 12:40:00',-395,-70);
INSERT INTO DESPLAZARSE(pk_RUT, fecha, Latitud, Longitud) VALUES (5,'2018-09-30 12:50:00',-39,-710);

#3 
Esta aplicacion para hacer conocer lugares en valdivia.

## Ejercicio 2: Realizar una copia de seguridad de una BD y exportar datos

<a href="https://dev.mysql.com/doc/refman/8.0/en/backup-and-recovery.html"> Backup and Recovery in MySQL</a>

1) ¿Por qué hacer copias de seguridad de su base de datos?

2) Utilizar el comando <code>Mysqldump</code> para realizar una copia de su base de datos. ¿Cuál es el <i>output</i> de este comando?

3) En algunos casos, queremos simplemente exportar datos para poder utilizarlos en otros contextos. ¿En qué consiste el formato de datos CSV? ¿Cómo exportar datos al formato CSV desde MySQL? (ver: <a href="http://www.mysqltutorial.org/mysql-export-table-to-csv/">Tutorial</a>)

# 1
Es importante realizar una copia de seguridad en la base de datos, puesto que un claro ejemplo es la perdida de una gran cantidad de datos los cuales en una base de datos de una pagina web podria causar varios problemas. Una forma de guardarlos seria en discos externos.

# 2
mysqldump -u root -p Valdivia | gzip > Respaldo_Valdivia.sql.gz #zip
mysqldump -u root -p Valdivia > Respaldo_Valdivia.sql #solo archivo 

#como output da un archivo comprimido de mi base de datos.

# 3
Es un formato para representar datos de forma sencilla similar a una tabla donde las columnas se separan por punto y coma(;) y las filas por saltos de linea.

## Ejercicio 3: Gestionar usuarios y privilegios de lectura y escritura

En la configuración por defecto de MySQL, existe un sólo usuario, llamado 'root', lo cual tiene todos los derechos. En término de seguridad es muy poco recomendable trabajar siempre con el usuario 'root' (en particular cuando se deja los passwords en el código o un archivo de parametros). 

1) ¿Cuáles son los tipos de privilegios en una base de datos relacional?

2) Crear un nuevo usuario y darle todos los privilegios sobre la base de datos 'Valdivia'

3) Crear un nuevo usuario, lo cual tendrá solamente acceso de lectura sobre la tabla Lugar_de_interes y Desplazarse

# 1
Privilegios administrativos los cuales permiten al usuario manejar globalmente cualquier operación en MySQL server, es decir para cualquier base de datos.
Privilegios de una base de datos específica y sus objetos incluidos.
Privilegios para algún objeto específico dentro de una DB, por ejemplo una tabla en particular.

# 2
### Creo el usuario tomy y la clave tomy

CREATE USER 'tomy'@'localhost' IDENTIFIED BY 'tomy';

### y le doy privilegio total a la base de datos Valdivia

GRANT ALL PRIVILEGES ON Valdivia TO 'tomy'@'localhost';

# 3

#### Creo usuario nic
CREATE USER 'nic'@'localhost' IDENTIFIED BY 'nic';

#### Le dio privilegio de lectura de la tabla desplazarse y Lugar de interes
GRANT SELECT ON Valdivia.DESPLAZARSE TO 'nic'@'localhost';

GRANT SELECT ON Valdivia.LUGAR_DE_INTERES TO 'nic'@'localhost';

## Ejercicio 4: Modificar la estructura de una Base de Datos

Supongamos que queremos modificar la estructura de la base de datos 'Valdivia'. 

1) Modificar la BD (sin borrarla) para agregar un campo 'nivel de estudio' en la tabla 'Persona'.

2) Modificar la BD (sin borrarla) para dejar la posibilidad de tener varias categorías para describir un lugar de interés (implica crear una tabla adicional)

3) Agregar una restricción para que las columnas "Latitud" y "Longitud" nuncan sean NULL

# 1

ALTER TABLE PERSONA ADD(NIVEL_DE_ESTUDIO VARCHAR(30));

# 2

#### Eliminaria de la tabla lugar de interes la columna categoria.
ALTER TABLE LUGAR_DE_INTERES DROP COLUMN Categoria;

#### Se creara una tabla nueva llamada categoria la cual tendra una clave foranea que vincula a lugar de interes.
CREATE TABLE CATEGORIA (pk_Lugar INT, CAT VARCHAR(30), FOREIGN KEY (pk_Lugar) REFERENCES LUGAR_DE_INTERES(pk_Lugar));

# 3
#### Se modifica.
alter table LUGAR_DE_INTERES modify Latitud Float not null;
alter table LUGAR_DE_INTERES modify Longitud Float not null;
alter table DESPLAZARSE modify Longitud Float not null;
alter table DESPLAZARSE modify Latitud Float not null;

## Ejercicio 5 (opcional): Innovación para Valdivia - Smart City

1) Revisar el concurso "Desafio Smart City": https://www.innoving.cl/smartcity

2) Considerando que la empresa Telefonica del Sur podría darle acceso a ciertos datos telefónicos de la Ciudad, imaginar un escenario de innovación basado sobre una base de datos similar a aquella que creamos.

#### Este fue un trabajo realizado en conjunto durante la clase.